<h2>Article Submit</h2>
<form action="<%= articles_path %>" method="post">
	<label for="title">Article Title<br>
		<input type="text" name="article[title]">
	</label><br>
	<label for="author">Author<br>
		<input type="text" name="article[author]">
	</label><br>
	<label for="web_url">Link<br>
		<input type="text" name="article[web_url]">
	</label><br>
	<label for="comments" name="article[comments]">
	</label><br>
	<button class="submit" name="submit">
	</form>